<div class="tesla {{night}} panel">

  <div class="ui horizontal {{night}} bttf segment">

    <div class="ui huge red statistic">
      <div class="label">Month</div>
      <div class="value">OCT</div>
    </div>

    <div class="ui huge red statistic">
      <div class="label">Day</div>
      <div class="value">21</div>
    </div>

    <div class="ui huge red statistic">
      <div class="label">Year</div>
      <div class="value">2015</div>
    </div>

    <div class="ui huge red statistic">
      <div class="label">Hour</div>
      <div class="value">04</div>
    </div>

    <div class="ui huge red statistic">
      <div class="label">Min</div>
      <div class="value">15</div>
    </div>

    <div class="ui centered grey header">
      LAST TIME DEPARTED
    </div>
  </div>

  <div class="ui horizontal {{night}} bttf segment">

    <div class="ui huge green statistic">
      <div class="label">M o n t h</div>
      <div class="value">O C T</div>
    </div>

    <div class="ui huge green statistic">
      <div class="label">D a y</div>
      <div class="value">2 1</div>
    </div>

    <div class="ui huge green statistic">
      <div class="label">Y e a r</div>
      <div class="value">2 0 1 5</div>
    </div>

    <div class="ui huge green statistic">
      <div class="label">H o u r</div>
      <div class="value">0 4</div>
    </div>

    <div class="ui huge green statistic">
      <div class="label"></div>
      <div class="value">:</div>
    </div>

    <div class="ui huge green statistic">
      <div class="label">M i n</div>
      <div class="value">1 5</div>
    </div>

    <div class="ui centered grey header">
      L A S T   TIME DEPARTED
    </div>
  </div>

  <div class="ui horizontal {{night}} bttf segment">

    <div class="ui huge yellow statistic">
      <div class="label">M o n t h</div>
      <div class="value">O C T</div>
    </div>

    <div class="ui huge yellow statistic">
      <div class="label">D a y</div>
      <div class="value">2 1</div>
    </div>

    <div class="ui huge yellow statistic">
      <div class="label">Y e a r</div>
      <div class="value">2 0 1 5</div>
    </div>

    <div class="ui huge yellow statistic">
      <div class="label">H o u r</div>
      <div class="value">0 4</div>
    </div>

    <div class="ui huge yellow statistic">
      <div class="label"></div>
      <div class="value">:</div>
    </div>

    <div class="ui huge yellow statistic">
      <div class="label">M i n</div>
      <div class="value">1 5</div>
    </div>

    <div class="ui centered header">
      L A S T   TIME DEPARTED
    </div>
  </div>

</div>

<script src="/javascripts/bttf.js"></script>