<div class="tesla {{night}} bttf panel">

  <div class="ui horizontal {{night}} bttf segment">

    <div class="ui huge orange statistic">
      <div class="label">Month</div>
      <div class="value">OCT</div>
    </div>

    <div class="ui huge orange statistic">
      <div class="label">Day</div>
      <div class="value">21</div>
    </div>

    <div class="ui huge orange statistic">
      <div class="label">Year</div>
      <div class="value">2015</div>
    </div>

    <div class="ui huge orange statistic">
      <div class="label">Hour</div>
      <div class="value">04</div>
    </div>

    <div class="ui huge orange statistic">
      <div class="label">Min</div>
      <div class="value">15</div>
    </div>

    <div class="ui centeorange grey header">
      DESTINATION TIME
    </div>
  </div>

  <div class="ui horizontal {{night}} bttf segment">

    <div class="ui huge green statistic">
      <div class="label">Month</div>
      <div class="value">OCT</div>
    </div>

    <div class="ui huge green statistic">
      <div class="label">Day</div>
      <div class="value">21</div>
    </div>

    <div class="ui huge green statistic">
      <div class="label">Year</div>
      <div class="value">2015</div>
    </div>

    <div class="ui huge green statistic">
      <div class="label">Hour</div>
      <div class="value">04</div>
    </div>

    <div class="ui huge green statistic">
      <div class="label">Min</div>
      <div class="value">15</div>
    </div>

    <div class="ui centered grey header">
      PRESENT TIME
    </div>
  </div>

  <div class="ui horizontal {{night}} bttf segment">

    <div class="ui huge yellow statistic">
      <div class="label">Month</div>
      <div class="value">OCT</div>
    </div>

    <div class="ui huge yellow statistic">
      <div class="label">Day</div>
      <div class="value">21</div>
    </div>

    <div class="ui huge yellow statistic">
      <div class="label">Year</div>
      <div class="value">2015</div>
    </div>

    <div class="ui huge yellow statistic">
      <div class="label">Hour</div>
      <div class="value">04</div>
    </div>

    <div class="ui huge yellow statistic">
      <div class="label">Min</div>
      <div class="value">15</div>
    </div>

    <div class="ui centered grey header">
      LAST TIME DEPARTED
    </div>
  </div>

</div>

<script src="/javascripts/bttf.js"></script>