<button class="ui circular blue icon button" id="toggle">
   <i class="sync icon"></i>
</button>

<div class="ui can log tesla panel segment" id="log">
</div>

<script src="/javascripts/can.js"></script>
