{{!-- <button class="ui positive button" id="resume">RESUME</button>
<button class=" ui negative button" id="pause">PAUSE</button> --}}

{{!-- <div class="ui right floated red header">
  <i class="red wifi icon" id="connection"></i>
</div> --}}

<div class="ui can log tesla panel segment" id="log">
</div>

<script>
  window.onyx = {
    pin: {{pin}}
  }
</script>
<script src="/javascripts/bit-buffer.js"></script>
<script src="/javascripts/m2.js"></script>
<script src="/javascripts/can.js"></script>
