<div class="dash">

  <div class="ui raised tile segment">
    <div class="ui huge statistic">
      <div class="value">48</div>
      <div class="label">kW</div>
    </div>
  </div>

  <div class="ui tile segment">
    <div class="ui huge statistic">

      <div class="value">358</div>
      <div class="label">Volts</div>
    </div>
  </div>

  <div class="ui tile segment">
      <div class="ui huge statistic">
      <div class="value">138</div>
      <div class="label">Amps</div>
    </div>
  </div>

  <div class="ui raised battery tile segment">
    <div class="ui yellow statistic">
      <div class="value">20%</div>
      <div class="label"><i class="battery quarter icon"></i></div>
    </div>
  </div>

  <div class="ui xxxxmain tile segment" id="weather">
    {{!-- <img src="https://lh3.googleusercontent.com/sQUar-MBOsMPcDoPvzedYHv1yhyI2DGjn3YjBWjq7RZSAUDQW-thJo8nGo-lD0iwvvoEPn9ycptO9bmg5zj3bT0h2GSMeRO2wo2sjddOSXCin6kcYJVTYIb2Ievp3g1NT82JeRGFng=w852-h696"> --}}
    {{!-- <script src="https://cdn.jsdelivr.net/npm/publicalbum@latest/embed-ui.min.js" async></script>
    <div class="pa-gallery-player-widget" style="width:640px; height:696px; display:none;"
      data-link="https://photos.app.goo.gl/WtiC3Rcy8StrNq2W8"
      data-title="New photo by John McCalla"
      data-background-color="#ffffff">
      <object data="https://lh3.googleusercontent.com/sQUar-MBOsMPcDoPvzedYHv1yhyI2DGjn3YjBWjq7RZSAUDQW-thJo8nGo-lD0iwvvoEPn9ycptO9bmg5zj3bT0h2GSMeRO2wo2sjddOSXCin6kcYJVTYIb2Ievp3g1NT82JeRGFng=w852-h696"></object>
    </div> --}}

{{!--
    <iframe src="https://photos.app.goo.gl/WtiC3Rcy8StrNq2W8" frameBorder="0" height="696" width="852"></iframe> --}}
  </div>
  <div class="ui double tall tile segment">
    <div class="ui statistic">
      <div class="value">48</div>
      <div class="label">kW</div>
    </div>
  </div>
  <div class="ui tile segment">
    <div class="ui statistic">
      <div class="value" id="height">924</div>
      <div class="label">Height</div>
    </div>
  </div>
  <div class="ui tile">
    <button class="ui button" id="up">Up</button>
    <button class="ui button" id="down">Down</button>
  </div>
  <div class="ui tile segment">
  </div>
  <div class="ui tile segment"></div>
  <div class="ui tile segment"></div>
  <div class="ui tile segment"></div>
  <div class="ui tile segment"></div>
  <div class="ui tile segment"></div>
  <div class="ui tile segment"></div>

</div>

<script src="/javascripts/grid.js"></script>