
<div class="tesla panel index grid">

  <a class="ui raised {{night}} tile segment" href="/can">
    <div class="ui icon header">
      <i class="braille icon"></i>
      <div class="caption">CAN</div>
    </div>
  </a>

  <a class="ui raised {{night}} tile segment" href="/signals">
    <div class="ui icon header">
      <i class="signal icon"></i>
      <div class="caption">Signals</div>
    </div>
  </a>

  <a class="ui raised {{night}} tile segment" href="/bttf/gauges">
    <div class="ui icon header">
      <i class="reply all icon"></i>
      <div class="caption">BTTF</div>
    </div>
  </a>

</div>

<script src="/javascripts/index.js"></script>
