<!DOCTYPE html>
<html>
  <head>
    <title>Tesla Onyx</title>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css' />
    <link rel='stylesheet' href='/stylesheets/range.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js" integrity="sha256-t8GepnyPmw9t+foMh3mKNvcorqNHamSKtKRxxpUEgFI=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.4.2/handlebars.min.js" integrity="sha256-oh7N5nthuhldTk8/34Za7FXv3BkeVN9vAnYk/pLfC78=" crossorigin="anonymous"></script>
    <script src="/dbc/tesla_model3.js"></script>
    <script src="/javascripts/bit-buffer.js"></script>
    <script src="/javascripts/m2.js"></script>
  </head>
  <body>
    {{!-- Connection status message --}}
    <div class="ui hidden negative icon tesla message" id="disconnected">
      <i class="car icon"></i>
      <div class="content">
        <div class="header">
          Disconnected <span id="reason"></span>
        </div>
      </div>
    </div>

    {{!-- Main page --}}
    <div class="tesla {{night}} screen">
      {{{body}}}
    </div>
  </body>
</html>
