  <style type="text/css">
    .column {
      margin-top: 20px;
      max-width: 450px;
    }

  </style>
  <div class="ui middle aligned center aligned grid">
  <div class="column">
    <h1 class="ui red header">
      <div class="tesla font content">
        TESLA ONYX
      </div>
    </h1>
    <form class="ui large form" method="POST" action="/">
      <div class="ui tesla segment">
        <div class="field">
          <div class="ui left icon input">
            <i class="lock icon"></i>
            <input type="password" name="pin" placeholder="">
          </div>
        </div>
        <input type="submit" class="ui fluid large red submit button" value="Authenticate" />
      </div>
    </form>

  </div>
</div>
