@font-face {
  font-family: 'teslaregular';
  src: url('tesla-webfont.woff2') format('woff2'),
       url('tesla-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'seven_segmentregular';
  src: url('seven_segment-webfont.woff2') format('woff2'),
       url('seven_segment-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'embossing_tape_1_brkregular';
  src: url('embosst1-webfont.woff2') format('woff2'),
       url('embosst1-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'embossing_tape_3_brkregular';
  src: url('embosst3-webfont.woff2') format('woff2'),
       url('embosst3-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/* DSEG7 Classic */

@font-face {
  font-family: 'DSEG7-classic';
  src: url('DSEG7-classic/DSEG7Classic-Bold.woff2') format('woff2'),
  url('DSEG7-classic/DSEG7Classic-Bold.woff') format('woff'),
  url('DSEG7-classic/DSEG7Classic-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'DSEG7-classic';
  src: url('DSEG7-classic/DSEG7Classic-BoldItalic.woff2') format('woff2'),
  url('DSEG7-classic/DSEG7Classic-BoldItalic.woff') format('woff'),
  url('DSEG7-classic/DSEG7Classic-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'DSEG7-classic';
  src: url('DSEG7-classic/DSEG7Classic-Italic.woff2') format('woff2'),
  url('DSEG7-classic/DSEG7Classic-Italic.woff') format('woff'),
  url('DSEG7-classic/DSEG7Classic-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'DSEG7-classic';
  src: url('DSEG7-classic/DSEG7Classic-Light.woff2') format('woff2'),
  url('DSEG7-classic/DSEG7Classic-Light.woff') format('woff'),
  url('DSEG7-classic/DSEG7Classic-Light.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'DSEG7-classic';
  src: url('DSEG7-classic/DSEG7Classic-LightItalic.woff2') format('woff2'),
  url('DSEG7-classic/DSEG7Classic-LightItalic.woff') format('woff'),
  url('DSEG7-classic/DSEG7Classic-LightItalic.ttf') format('truetype');
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: 'DSEG7-classic';
  src: url('DSEG7-classic/DSEG7Classic-Regular.woff2') format('woff2'),
  url('DSEG7-classic/DSEG7Classic-Regular.woff') format('woff'),
  url('DSEG7-classic/DSEG7Classic-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  /* font: 24px "Lucida Grande", Helvetica, Arial, sans-serif; */
  background-color: grey;
}

body ::-webkit-scrollbar {
  width: 0px;
  background: transparent; /* make scrollbar transparent */
}

a {
  color: #00B7FF;
}

.ui.list, .ui.menu, .ui.segment, .ui.segments .segment {
  font-size: inherit;
}

.ui[class*="right floated"].segment {
  margin-right: 0;
}

.ui.button {
  font-size: 18px;
}

#log {
  font-size: 20px;
}

.tesla.font {
  font-family: 'teslaregular';
  font-size: 50px;
}

.tesla.screen {
  background-color: #fafafa; /* found empirically */
  width: 1260px;
  height: 924px;
  padding: 20px;
  font-size: 28px;
}

.tesla.screen.inverted {
  background-color: rgb(9,9,9); /* found empirically */
}

/* .tesla.screen.night .ui.vertical.menu {
  background-color: rgb(30, 30, 30);
  color: white !important;
} */

.tesla.panel {
  grid-gap: 20px;
  width: 1220px;
  height: 884px;
  display: grid;
  /* overflow: auto; */
}

.tesla.message {
  z-index: 1;
  margin: auto;
  position: absolute;
  /* top: 0; left: 0; bottom: 0; right: 0; */
  width: fit-content !important;
  height: fit-content;
}

.index.grid {
  grid-template-rows: repeat(5, 1fr);
  grid-template-columns: repeat(7, 1fr);
  align-items: stretch;
}

.can.log.segment {
  /* max-height: 804px; */
  font-family: monospace;
  align-content: start;
}

.signals.grid {
  font-variant: all-small-caps;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 20px;
}

.signal.list > .item {
  padding-bottom: 40px;
}

.signal.list > .item > .name.content {
  /* line-height: 58px; */
}

.signal.list .statistic > .value {
  text-align: right;
}

.signal.list .statistic > .label {
  text-align: right;
}

.signal.segment {
  margin: 0;
  /* font-size: 24px; */
  overflow-y: scroll;
  will-change: scroll-position;
}

.ui.vertical.menu {
  width: 400px;
  /* font-size: 24px; */
  margin: 0;
  overflow-y: scroll;
  will-change: scroll-position;
  /* max-height: 884px; */
}

/* #canmenu {

} */

#dials {
    margin-top: 0;
}

.dash {
  background-color: #fafafa;
  padding: 10px;
  grid-gap: 20px;
  width: 1260px;
  height: 924px;
  display: grid;
  grid-template-rows: repeat(5, 1fr);
  grid-template-columns: repeat(7, 1fr);
  align-items: stretch;
}

.ui.huge.statistic .label {
  font-size: 24px;
  color: grey;
}


.ui.tile {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  border: none;
  /* margin: 0;
  padding: auto; */
  /* align-items: center;
  justify-items: center; */

}

.ui.tesla.segment, .ui.tesla.menu {
  /* font-family: 'teslaregular'; */
  position: relative;
  border-radius: 10px;
  border: none;
  box-shadow: 0 2px 4px 0 rgba(34,36,38,.12), 0 2px 10px 0 rgba(34,36,38,.15)
}

/* This is for inset box shadow, doesn't work yet
.ui.tesla.menu::after {
  position: absolute;
  background-image: linear-gradient(to bottom, transparent 0%, white 100%);
  top: 0px;
  left: 0px;
  height: 40px;
  z-index: 1;
  content: '';
} */

.ui.tile.segment {
  font-family: 'teslaregular';
  border-radius: 10px;
  box-shadow: 0 2px 4px 0 rgba(34,36,38,.12), 0 2px 10px 0 rgba(34,36,38,.15)
}

.ui.double.wide.tile {
  grid-column: 2 / 4;
  border-radius: 10px;
}

.ui.double.tall.tile {
  grid-row: 1 / 3;
  grid-column: 7 / 7;
  border-radius: 8px;
}

.ui.xxxxmain.tile {
  grid-row: 2 / 6 ;
  grid-column: 2 / 7;
  border-radius: 6px;
}

.battery.tile {
  grid-row: 2 / 3;
  grid-column: 1 / 2;

}

.battery.tile .ui.statistic .value {
  font-family: 'teslaregular';
}

.ui.icon.header .caption {
  /* color: grey; */
  font-variant-caps: all-petite-caps;
}

/* BTTF */

.bttf.panel {
  grid-gap: 0;
  height: unset;
  user-select: none;
}

.bttf.segment {
  background-color: #232020;
  border-radius: 0;
  margin-bottom: 0;
  padding: 16px;
  display: grid;
  grid-template-rows: 140px 40px;
  grid-template-columns: 200px 270px 270px 240px 200px;
}

.hidden {
  visibility: hidden;
}

.bttf.segment > .ui.statistic > .label,
.bttf.segment > .header {
  font-family: 'embossing_tape_1_brkregular';
  color: grey;
  padding: 4px;
  width: fit-content;
  margin: auto;
  text-shadow: 1px 2px black;
  box-shadow: 0px 1px black;
}

.bttf.segment > .header {
  font-size: 24px;
  letter-spacing: 0.3ch;
  text-indent: 0.3ch;
  background-color: black;
  grid-column: 1/6;
  margin-top: 0;
}

.bttf.segment > .ui.statistic {
  margin: 0;
}

.bttf.segment > .ui.statistic > .label {
  font-size: 20px;
  letter-spacing: 0.7ch;
  text-indent: 0.7ch;
  background-color: #4c0101;
  margin-top: 0;
  margin-bottom: 20px;
}

.bttf > .ui.statistic > .value {
  font-family: 'DSEG7-classic';
  font-size: 5rem !important;
  font-style: italic;
  letter-spacing: 0.2ch;
  margin-right: -0.2ch;
  color: white;
  /* background-color: black; */
  /* text-align: right; */
}

.bttf > .ui.orange.statistic > .value {
  text-shadow: 0 0 5px #f75305, 0 0 10px #f75305, 0 0 20px #f75305;
}

.bttf > .ui.red.statistic > .value {
  text-shadow: 0 0 5px red, 0 0 10px red, 0 0 20px red, 0 0 30px red;
}

.bttf > .ui.green.statistic > .value {
  text-shadow: 0 0 5px green, 0 0 10px green, 0 0 20px green;
}

.bttf > .ui.yellow.statistic > .value {
  text-shadow: 0 0 5px yellow, 0 0 10px yellow;
}

.bttf > .ui.blue.statistic > .value {
  text-shadow: 0 0 5px #088dff, 0 0 10px #088dff, 0 0 20px #088dff;
}

.bttf.segment > .header {

}
